body{
        background: #f8f8f8;
        margin:0;
      }
      .mainContainer {
        background: white;
        max-width: 450px;
        min-height: 200px;
        margin: 0 auto;
        text-align : center;
        padding: 15px;
        color: #999;
        padding-bottom: 60px;

        box-shadow: 0 0 10px 1px rgba(0,0,0,.14), 0 1px 14px 2px rgba(0,0,0,.12), 0 0 5px -3px rgba(0,0,0,.3);


      }

.m1{position:fixed;left:1%; width:auto;height:100%;top:1%;color:#000;}
.m2{position:fixed;right:1%; width:auto;height:100%;top:1%;color:#000;}


.footerbtn1 {
            display: block;
            line-height: 15px;
            position: fixed;
            right: 0px;
            bottom: 0px;
            height: 40px;
            border-radius: 15px;
            box-sizing: border-box;
            padding: 5px;
            background: #000099;
            color: #ffffff;
            font-size: 18px;
            text-align: center;
            text-decoration: none;
            width: 40%;
            margin-right: 10px;
            margin-right: 30px;
            box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .3);
            animation: footer infinite linear 1s;
            -webkit-transform: translate3d(30%, 0, 0);
            transform: translate3d(30%, 0, 0);
            position: fixed;
        }
        
        .footerbtn1 :active {
            box-shadow: none
        }
        
        @-webkit-keyframes footer {
            from {
                -webkit-transform: rotateZ(0)
            }
            25% {
                -webkit-transform: rotateZ(1.5deg)
            }
            50% {
                -webkit-transform: rotateZ(0deg)
            }
            75% {
                -webkit-transform: rotateZ(-1.5deg)
            }
            to {
                -webkit-transform: rotateZ(0)
            }
        }
        
        .footerbtn {
            display: block;
            line-height: 15px;
            position: fixed;
            left: 0px;
            bottom: 0px;
            height: 40px;
            border-radius: 15px;
            box-sizing: border-box;
            padding: 5px;
            background: #34af23;
            color: #ffffff;
            font-size: 18px;
            text-align: center;
            text-decoration: none;
            width: 40%;
            margin-left: 10px;
            margin-right: 30px;
            box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .3);
            animation: footer infinite linear 1s;
            -webkit-transform: translate3d(30%, 0, 0);
            transform: translate3d(30%, 0, 0);
            position: fixed;
        }
        
        .footerbtn :active {
            box-shadow: none
        }
        
        @-webkit-keyframes footer {
            from {
                -webkit-transform: rotateZ(0)
            }
            25% {
                -webkit-transform: rotateZ(1.5deg)
            }
            50% {
                -webkit-transform: rotateZ(0deg)
            }
            75% {
                -webkit-transform: rotateZ(-1.5deg)
            }
            to {
                -webkit-transform: rotateZ(0)
            }
        }
